<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

##### CODE EUCALYPTUS
#####<main id="main" aria-label="Content" tabindex="-1">
#####    <section class="container about">
#####        <h1>${_("Privacy Policy")}</h1>
#####        <p>${_("This page left intentionally blank. Feel free to add your own content.")}</p>
#####    </section>
#####</main>
##### CODE EUCALYPTUS
<section class="container about">
<h1>${_("Privacy Policy")}</h1>
    <h4><a name="confidentialite"></a>3.1 Politique de confidentialité</h4>

    <p>En vous inscrivant à EDUlib, vous autorisez les institutions participantes à constituer un dossier contenant des renseignements personnels à votre sujet. Ces renseignements personnels sont confidentiels. Ils seront utilisés notamment aux fins de la constitution de votre dossier personnel. Votre dossier personnel sera conservé en conformité avec notre calendrier de conservation adopté en vertu de la Loi sur les archives. Les renseignements recueillis ont un caractère obligatoire et quiconque refuse de les transmettre ne peut être inscrit à EDUlib.</p>

    <p>Vous avez le droit de demander l’accès à votre dossier et de faire corriger tout renseignement inexact, incomplet ou équivoque.
    L’inscription à EDUlib comporte pour le participant aux activités d’EDUlib l’engagement de se conformer aux dispositions de la loi, des statuts, des règlements, des résolutions, des politiques, des directives et pratiques des institutions participantes.</p>

    <p>Tout document falsifié, toute déclaration mensongère ou toute omission de donner un renseignement exigé peuvent entraîner l’annulation de l’inscription à EDUlib.</p>

    <p>Vous autorisez également les institutions participantes à vous contacter par courriel à l’adresse donnée dans le formulaire d’inscription pour vous informer sur ses activités et ses différents produits.</p>


    <h4><a name="recherche"></a>3.2 Traces anonymisées pour la recherche</h4>

    <p>Dans le cadre de l'initiative EDUlib, des équipes de chercheurs autorisés vont recueillir et analyser les traces informatiques des activités de tous les participants, dans le but de produire des connaissances scientifiques et d'améliorer les cours. Les traces auxquelles auront accès les chercheurs seront anonymisées, par un processus informatique retirant des données tout renseignement personnel permettant de vous identifier et transformant votre identifiant de manière non réversible.</p>
    
    <h3 style="text-align:center;"><a href="/tos">Cliquez ici pour accéder à l&#8217;ensemble des conditions générales du service</a></h3>
    <script type="text/javascript">
    
   function redirectionEDUlib() {
       window.location.href = '/tos#confidentialite';   
   }
    
    redirectionEDUlib();
</script>
</section>
