<%! from xmodule.modulestore.django import modulestore %>

<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>

<%! from microsite_configuration import microsite %>

<%block name="pagetitle">Polytechnique Montr&eacute;al</%block>

<%
platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))
default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

logo_file = microsite.get_value('course_index_overlay_logo_file', default_image_url)
logo_alt_text = "EDUlib Logo"
%>


<section class="home">

  <header>
    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
          % if homepage_overlay_html:
            ${homepage_overlay_html}
          % else:
            % if self.stanford_theme_enabled():
              <h1>${_("Free courses from <strong>{university_name}</strong>").format(university_name="Stanford")}</h1>
              <h2>${_("For anyone, anywhere, anytime")}</h2>
            % else:
              <h1>Notre expertise, <strong>vos comp&eacute;tences</strong>.</h1>
            % endif
          % endif
        </hgroup>

      </div>

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>
  </header>


  <section class="container">


    <section class="about">
        <h1>Polytechnique Montr&eacute;al</h1>
        <p>Fond&eacute;e en 1873, Polytechnique Montr&eacute;al est l&#8217;un des plus importants &eacute;tablissements d&#8217;enseignement et de recherche en g&eacute;nie au Canada. Polytechnique occupe le premier rang au Qu&eacute;bec pour le nombre de ses &eacute;tudiants aux cycles sup&eacute;rieurs et l&#8217;ampleur de ses activit&eacute;s de recherche. Avec plus de <span style="white-space: nowrap;">43 000</span> dipl&ocirc;m&eacute;s, Polytechnique Montr&eacute;al a form&eacute; pr&egrave;s du quart des membres actuels de l&#8217;Ordre des ing&eacute;nieurs du Qu&eacute;bec. L&#8217;institution donne son enseignement dans 15 disciplines du g&eacute;nie. Polytechnique compte 265 professeurs et plus de <span style="white-space: nowrap;">8 000</span> &eacute;tudiants. Son budget annuel de fonctionnement s&#8217;&eacute;l&egrave;ve &agrave; plus de 200 millions de dollars, dont un budget de recherche de 80 millions de dollars.</p>
        <p><a href="http://www.polymtl.ca" onclick="window.open(this.href);return false;">http://www.polymtl.ca</a></p>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
           if not course.has_started() and course.org.lower() == "polymtl" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>&Agrave; venir</h1>
    %endif

    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
                    %if not course.has_started() and course.org.lower() == "polymtl" and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.start is None, x.start), reverse=False):
           if course.has_started() and not course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>En cours</h1>
    %endif

    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(),key=lambda x: (x.start is None, x.start), reverse=False):
                    %if course.has_started() and not course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter  = 0  %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
           if course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>Termin&eacute;s</h1>
    %endif

    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
                    %if course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>

  </section>
</section>
