<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%!
import courseware.courses as courses
from django.core.management.base import BaseCommand, CommandError
from xmodule.modulestore.django import modulestore
from xmodule.contentstore.django import contentstore
from opaque_keys.edx.locator import CourseLocator
from datetime import datetime
import dateutil.parser
from django.utils.timezone import UTC
%>

<%inherit file="../main.html"/>

<%! from microsite_configuration import microsite %>

<%block name="pagetitle">Polytechnique Montr&eacute;al</%block>

<section class="container">


    <section class="about">
        <h1>Polytechnique Montr&eacute;al</h1>
        <p>Fond&eacute;e en 1873, Polytechnique Montr&eacute;al est l&#8217;un des plus importants &eacute;tablissements d&#8217;enseignement et de recherche en g&eacute;nie au Canada. Polytechnique occupe le premier rang au Qu&eacute;bec pour le nombre de ses &eacute;tudiants aux cycles sup&eacute;rieurs et l&#8217;ampleur de ses activit&eacute;s de recherche. Avec plus de <span style="white-space: nowrap;">43 000</span> dipl&ocirc;m&eacute;s, Polytechnique Montr&eacute;al a form&eacute; pr&egrave;s du quart des membres actuels de l&#8217;Ordre des ing&eacute;nieurs du Qu&eacute;bec. L&#8217;institution donne son enseignement dans 15 disciplines du g&eacute;nie. Polytechnique compte 265 professeurs et plus de <span style="white-space: nowrap;">8 000</span> &eacute;tudiants. Son budget annuel de fonctionnement s&#8217;&eacute;l&egrave;ve &agrave; plus de 200 millions de dollars, dont un budget de recherche de 80 millions de dollars.</p>
        <p><a href="http://www.polymtl.ca" onclick="window.open(this.href);return false;">http://www.polymtl.ca</a></p>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
       <%! count1 = 0 %>
       <%! my_list1 = [] %>
       <%! current_date = datetime.now(UTC()) %>
       <%! for course in sorted(modulestore().get_courses(),key=lambda course: (course.start is None, course.start)):
              if not course.has_started() and course.org.lower() == "polymtl" and course.catalog_visibility=="both" :
                 count1 += 1
                 my_list1.append(course)
       %>

       %if count1 != 0:
           <section>
              <h1>&Agrave; venir</h1>
           </section>
           <section class="highlighted-courses">
              <section class="courses">
                 <ul class="courses-listing">
                     %for course in my_list1:
                         <li class="courses-listing-item">
                             <%include file="../course.html" args="course=course" />
                         </li>
                     %endfor
                 </ul>
              </section>
           </section>
       %endif
    %endif


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
       <%! count2 = 0 %>
       <%! my_list2 = [] %>
       <%! for course in sorted(modulestore().get_courses(),key=lambda course: (course.start is None, course.start)):
              if course.has_started() and not course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility=="both":
                 count2 += 1
                 my_list2.append(course)
       %>

       %if count2 != 0:
           <section>
              <h1>En cours</h1>
           </section>
           <section class="highlighted-courses">
              <section class="courses">
                 <ul class="courses-listing">
                     %for course in my_list2:
                         <li class="courses-listing-item">
                             <%include file="../course.html" args="course=course" />
                         </li>
                     %endfor
                 </ul>
              </section>
           </section>
       %endif
    %endif


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
       <%! count3 = 0 %>
       <%! my_list3 = [] %>
       <%! for course in sorted(modulestore().get_courses(),key=lambda course: (course.end is None, course.end), reverse=True):
              if course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility=="both":
                 count3 += 1
                 my_list3.append(course)
       %>

       %if count3 != 0:
           <section>
              <h1>Termin&eacute;s</h1>
           </section>
           <section class="highlighted-courses">
              <section class="courses">
                 <ul class="courses-listing">
                     %for course in my_list3:
                         <li class="courses-listing-item">
                             <%include file="../course.html" args="course=course" />
                         </li>
                     %endfor
                 </ul>
              </section>
           </section>
       %endif
    %endif


</section>
