<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h1>${_("Terms of Service")}</h1>
<h2>Droits et obligations des personnes inscrites &agrave; EDU<em style="text-transform:lowercase;">lib</em></h2>

<h3><a name="privacy"></a>1. Politique de confidentialit&eacute;</h3>

<p>En vous inscrivant &agrave; EDU<em>lib</em>, vous autorisez les institutions participantes &agrave; constituer un dossier contenant des renseignements personnels &agrave; votre sujet. Ces renseignements personnels sont confidentiels. Ils seront utilis&eacute;s notamment aux fins de la constitution de votre dossier personnel. Votre dossier personnel sera conserv&eacute; en conformit&eacute; avec notre calendrier de conservation adopt&eacute; en vertu de la Loi sur les archives. Les renseignements recueillis ont un caract&egrave;re obligatoire et quiconque refuse de les transmettre ne peut &ecirc;tre inscrit &agrave; EDU<em>lib</em>.</p>

<p>Vous avez le droit de demander l&#8217;acc&egrave;s &agrave; votre dossier et de faire corriger tout renseignement inexact, incomplet ou &eacute;quivoque.</p>

<p>L&#8217;inscription &agrave; EDU<em>lib</em> comporte pour le participant aux activit&eacute;s d&#8217;EDU<em>lib</em> l&#8217;engagement de se conformer aux dispositions de la loi, des statuts, des r&egrave;glements, des r&eacute;solutions, des politiques, des directives et pratiques des institutions participantes.</p>

<p>Tout document falsifi&eacute;, toute d&eacute;claration mensong&egrave;re ou toute omission de donner un renseignement exig&eacute; peuvent entra&icirc;ner l&#8217;annulation de l&#8217;inscription &agrave; EDU<em>lib</em>.</p>

<p>Vous autorisez &eacute;galement les institutions participantes &agrave; vous contacter par courriel &agrave; l&#8217;adresse donn&eacute;e dans le formulaire d&#8217;inscription pour vous informer sur ses activit&eacute;s et ses diff&eacute;rents produits.</p>

<h3><a name="copyright"></a>2. Copyright</h3>

<p>Les institutions participantes sont le titulaire du droit d&#8217;auteur sur les pr&eacute;sentations et le mat&eacute;riel p&eacute;dagogique auxquels vous aurez acc&egrave;s par le biais d'EDU<em>lib</em>. En vous inscrivant &agrave; EDU<em>lib</em>, et en acc&eacute;dant aux services fournis par EDU<em>lib</em>, vous acceptez ce qui suit :</p>
<ul>
<li>de ne pas fixer la pr&eacute;sentation en l&#8217;enregistrant;</li>
<li>de ne pas vendre ou louer un tel enregistrement;</li>
<li>de ne pas mettre en circulation cet enregistrement de fa&ccedil;on &agrave; porter pr&eacute;judice aux institutions participantes;</li>
<li>de ne pas mettre un tel enregistrement en vente ou en location ni de l&#8217;exposer en public dans un but commercial;</li>
<li>de ne pas communiquer un tel enregistrement par t&eacute;l&eacute;communication &agrave; des tiers non autoris&eacute;s et de ne pas placer sur des sites comme &laquo; YouTube &raquo; les pr&eacute;sentations et le mat&eacute;riel p&eacute;dagogique auxquels vous avez acc&egrave;s par le biais d'EDU<em>lib</em>;</li>
<li>de ne pas contourner ou contrevenir &agrave; des mesures de protection mises en place par les institutions participantes ou une personne agissant avec leur autorisation.</li>
</ul>

<p>Vous acceptez &eacute;galement de ne pas donner acc&egrave;s au site EDU<em>lib</em> &agrave; des personnes qui ne sont pas inscrites &agrave; ce service.</p>


<h3><a name="forum"></a>3. Participation aux forums de discussion</h3>

<p>En vous inscrivant &agrave; EDU<em>lib</em>, vous pourrez participer aux forums de discussion ouverts aux personnes inscrites &agrave; votre cours. Dans le cadre de cette participation, vous acceptez de respecter les r&egrave;gles suivantes :</p>

<ol>
<li>Vous acceptez d&#8217;&ecirc;tre courtois et respectueux &agrave; l&#8217;&eacute;gard des autres participants et de leurs commentaires.</li>
<li>Vous ne publiez que le contenu dont vous &ecirc;tes l&#8217;auteur et vous devez citer la source du contenu produit par d&#8217;autres personnes.</li>
<li>Il est interdit de publier du contenu offensant et qui risque d'exposer une personne ou un groupe de personnes &agrave; la haine ou au m&eacute;pris pour des motifs fond&eacute;s sur la race, l'origine, la couleur, la religion, le sexe, l'orientation sexuelle, l'&acirc;ge ou la d&eacute;ficience physique ou mentale.</li>
<li>Votre contenu sera rejet&eacute; s'il contient l'un des &eacute;l&eacute;ments suivants : 
<ul><li>contenu pornographique, vulgaire, obsc&egrave;ne ou sexuellement explicite;</li>
<li>mat&eacute;riel illicite (par exemple contrevenant &agrave; une ordonnance d'un tribunal);</li>
<li>propos haineux;</li>
<li>menaces ou harc&egrave;lement;</li>
<li>attaques personnelles, insultes ou contenu diffamatoire;</li>
<li>menace ou incitation &agrave; commettre un acte criminel.</li></ul></li>
</ol>

<p>Votre acc&egrave;s aux forums de EDU<em>lib</em> pourra &ecirc;tre suspendu si vous ne respectez pas les obligations mentionn&eacute;es plus haut.</p>

<p>Les forums d&#8217;EDU<em>lib</em> ne sont pas anonymes et l'utilisation d'un pseudonyme y est interdite. Vos nom(s) et pr&eacute;nom(s) s'afficheront &agrave; chacune de vos participations.</p>

<p>En publiant votre contenu sur le forum de discussion, vous accordez aux institutions participantes le droit non exclusif de l'utiliser ind&eacute;finiment, sans verser de redevance, et de le d&eacute;placer sur tout autre site.</p>

<p>Les participants qui utilisent ou communiquent des commentaires, messages ou images sur les forums de discussion assument l&#8217;enti&egrave;re responsabilit&eacute; de leurs propos. Les commentaires des participants ne repr&eacute;sentent pas les vues des institutions participantes. Les institutions participantes n&#8217;assument aucune responsabilit&eacute; pour des pertes ou dommages subis &agrave; la suite de l&#8217;utilisation des forums de discussion par les participants.</p>

<p>Le participant accepte de tenir les institutions participantes, leurs cadres, directeurs employ&eacute;s et repr&eacute;sentants indemnes contre toute poursuite judiciaire, r&eacute;clamation, amende, co&ucirc;t ou perte, incluant les frais judiciaires et les honoraires d&#8217;avocat pour tout dommage r&eacute;sultant de l&#8217;utilisation du site EDU<em>lib</em> et de ses forums de discussion.</p>
</section>
