<%! from django.utils.translation import ugettext as _ %>
    <%inherit file="../main.html" />

<%block name="pagetitle">Les certificats d’EDUlib</%block>

<section class="home">
    <section class="container edulib">
        <h1>Les certificats d’EDUlib</h1>
        
        <p>EDUlib et les institutions partenaires fournissant des cours sur le site peuvent offrir un certificat aux étudiants qui ont démontrés la maîtrise du matériel du cours. Les certificats seront émis au nom de l’institution et de l’enseignant responsable du cours. La décision d’émettre ou non un certificat est à la seule discrétion de l’institution et de l’enseignant.</p>
        
        <h3>A. Certificat sur l’honneur et certificat vérifié</h3>
        <p>Les certificats sur l’honneur sont délivrés au nom du participant tel que fourni lors de son inscription.</p>
        
        <p>Les certificats vérifiés sont délivrés après une vérification du nom fourni et de l’identité du participant par une adresse électronique déjà vérifiée, une photo du participant, une pièce d’identité émise par un gouvernement avec photo, ou un autre mécanisme de référence approprié.</p>

        
        
        <h3>B. Paiement de cours et de certificats</h3>
        <p>Afin de recevoir un certificat vérifié, vous pourriez devoir payer un montant dans certains cours. Dans ce cas, le ou les processus suivants s’appliqueront, lors de votre inscription pour un tel certificat et si votre identité n’est pas préalablement déjà vérifiée:</p>

        <ul>
            <li>on vous demandera d’enregistrer votre photo ainsi que celle d’un document d’identification. Ces deux pièces seront ultérieurement validés.</li>
            <li>Puis le montant du certificat vérifié sera prélevé à même une carte de crédit par un fournisseur de service tiers.</li>
            <li>La politique de confidentialité du fournisseur tiers est disponible. Voir <a href="http://www.cybersource.com/fr-FR/privacy/" onclick="window.open(this.href);return false;">http://www.cybersource.com/fr-FR/privacy/</a></li>
            <li>Lorsque votre transaction est complétée, vous serez redirigé vers le site EDUlib et vous recevrez un courriel de confirmation avec votre nom, le numéro de commande ainsi que le montant. Conservez ces informations si vous demandez un remboursement.</li>
        </ul>

        <p>Afin de recevoir un certificat vérifié, vous pourriez devoir payer un montant dans certains cours. Dans ce cas, le ou les processus suivants s’appliqueront, lors de votre inscription pour un tel certificat et si votre identité n’est pas préalablement déjà vérifiée:</p>
    
        <ul>
            <li>on vous demandera d’enregistrer votre photo ainsi que celle d’un document d’identification. Ces deux pièces seront ultérieurement validés.</li>
            <li>Puis le montant du certificat vérifié sera prélevé à même une carte de crédit par un fournisseur de service tiers.</li>
            <li>La politique de confidentialité du fournisseur tiers est disponible. Voir <a href="http://www.cybersource.com/fr-FR/privacy/" onclick="window.open(this.href);return false;">http://www.cybersource.com/fr-FR/privacy/</a></li>
            <li>Lorsque votre transaction est complétée, vous serez redirigé vers le site EDUlib et vous recevrez un courriel de confirmation avec votre nom, le numéro de commande ainsi que le montant. Conservez ces informations si vous demandez un remboursement.</li>
        </ul>
        
        
        <h3>C. Politique de remboursement</h3>
        <p>Pour une période de 14 jours de calendrier après le début du cours (la période de grâce), vous pouvez vous retirer ou vous désenregistrer du cours en suivant le lien “désinscrire” du cours sur votre tableau de bord (dashboard) du site et en demandant un remboursement par courriel à <a href="mailto:facturation@edulib.org">facturation@edulib.org</a>. Indiquez votre nom ainsi que votre numéro de bon d’achat dans votre courriel. Les remboursements seront crédités dans votre carte de crédit utilisée lors de la commande et pourront prendre jusqu’à deux cycles de paiement avant d’être traités. EDUlib n’a aucune obligation de rembourser après la période de grâce.</p>
        
        
        
        <h3>D. Authentification</h3>
        <p>Afin de vous authentifier, on vous demandera de prendre une photo de vous même ainsi que celle d’une de vos cartes d’identité. Ces informations seront soumises à la politique de confidentialité EDUlib.</p>
        
        <p>Les documents suivant sont admissibles:</p>

        <ul>
            <li>permis de conduire</li>
            <li>passeport</li>
            <li>pièce d’identité émise par un gouvernement avec photo</li>
        </ul>
        
        
        <p>Afin d’être accepté, votre identité doit:</p>

        <ul>
            <li>Contenir le même prénom et nom complet que votre prénom et nom d’utilisateur enregistré sur EDUlib</li>
            <li>Être récente, de moins de 10 ans</li>
            <li>Être toujours valide</li>
        </ul>
        
        
        <p>Si ces critères ne sont pas rencontrés, EDUlib ne pourra pas valider votre identité ni vous fournir des certificats validés.</p>

        
    </section>
</section>