<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="home">
    <section class="container edulib">
        <h1>${_("Contact")}</h1>
        <ul>
            <li>Pour les demandes d’information générale: <a href="mailto:info@edulib.org">info@edulib.org</a></li>
            <li>Pour les demandes techniques générales, non reliées à un cours: <a href="mailto:support@edulib.org">support@edulib.org</a></li>
            <li>Pour les demandes reliées à la facturation: <a href="mailto:facturation@edulib.org">facturation@edulib.org</a></li>
        </ul>
        
        <h1>Partenaires</h1>
            <div style="width: 610px; margin-left: auto; margin-right: auto;">
                <p style="display:inline-block; width:180px; padding: 10px; vertical-align: text-top;"><a href="http://www.umontreal.ca" onclick="window.open(this.href);return false;"><img src="/static/images/default-theme/institutions/udem.png" alt="Universit&eacute; de Montr&eacute;al" width="185" height="48" /></a><br />
                    <a href="http://sse.umontreal.ca/" onclick="window.open(this.href);return false;">Services de soutien à l’enseignement</a><br />
                    Université de Montréal<br />
                    3744, rue Jean-Brillant<br />
                    Montréal, QC<br />
                    H3C 3J7<br />
                    Canada
                </p>
                <p style="display:inline-block; width:180px; padding: 10px; vertical-align: text-top;"><a href="http://www.hec.ca" onclick="window.open(this.href);return false;"><img src="/static/images/default-theme/institutions/hec.png" alt="HEC Montr&eacute;al" width="185" height="48" /></a><br />
                    <a href="http://www.hec.ca/daip/" onclick="window.open(this.href);return false;">Direction de l'apprentissage et de l'innovation pédagogique</a><br />
                    HEC Montréal<br />
                    3000, chemin de la Côte-Sainte-Catherine<br />
                    Montréal, QC<br />
                    H3T 2A7<br />
                    Canada
                </p>
                <p style="display:inline-block; width:180px; padding: 10px; vertical-align: text-top;"><a href="http://www.polymtl.ca" onclick="window.open(this.href);return false;"><img src="/static/images/default-theme/institutions/poly.png" alt="&Eacute;cole Polytechnique de Montr&eacute;al" width="185" height="48" /></a><br />
                    <a href="http://www.polymtl.ca/bap/" onclick="window.open(this.href);return false;">Bureau d’appui pédagogique</a><br />
                    Polytechnique Montréal<br />
                    2900, boul. Édouard-Montpetit<br />
                    Campus de l'Université de Montréal<br />
                    2500, chemin de Polytechnique<br />
                    Montréal, QC<br />
                    H3T 1J4<br />
                    Canada
                </p>
            </div>
    </section>
</section>
