<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%!
import courseware.courses as courses
from django.core.management.base import BaseCommand, CommandError
from xmodule.modulestore.django import modulestore
from xmodule.contentstore.django import contentstore
from opaque_keys.edx.locator import CourseLocator
from datetime import datetime
import dateutil.parser
from django.utils.timezone import UTC
%>

<%inherit file="../main.html"/>

<%! from microsite_configuration import microsite %>

<%block name="pagetitle">Polytechnique Montr&eacute;al</%block>

<section class="container">


    <section class="about">
        <h1>Polytechnique Montr&eacute;al</h1>
        <p>Reconnue comme leader national en formation et en recherche dans le domaine du g&eacute;nie, l'&Eacute;cole Polytechnique de Montr&eacute;al est, avec 125 ans d'histoire, pionni&egrave;re en formation d'ing&eacute;nieurs francophones en Am&eacute;rique. Elle est aussi l'un des plus importants &eacute;tablissements d'enseignement de g&eacute;nie parmi les &eacute;coles ou facult&eacute;s canadiennes, et demeure la premi&egrave;re au Qu&eacute;bec quant au nombre d'&eacute;tudiants et &agrave; l'ampleur de ses budgets de recherche.</p>
        <p><a href="http://www.polymtl.ca" onclick="window.open(this.href);return false;">http://www.polymtl.ca</a></p>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
       <%! count1 = 0 %>
       <%! my_list1 = [] %>
       <%! current_date = datetime.now(UTC()) %>
       <%! for course in sorted(modulestore().get_courses(),key=lambda course: (course.start is None, course.start), reverse=True):
              if not course.has_started() and course.org.lower() == "polymtl" and course.catalog_visibility=="both" :
                 count1 += 1
                 my_list1.append(course)
       %>

       %if count1 != 0:
           <section>
              <h1>Cours &agrave; venir</h1>
           </section>
           <section class="highlighted-courses">
              <section class="courses">
                 <ul class="courses-listing">
                     %for course in my_list1:
                         <li class="courses-listing-item">
                             <%include file="../course.html" args="course=course" />
                         </li>
                     %endfor
                 </ul>
              </section>
           </section>
       %endif
    %endif


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
       <%! count2 = 0 %>
       <%! my_list2 = [] %>
       <%! for course in sorted(modulestore().get_courses(),key=lambda course: (course.start is None, course.start), reverse=True):
              if course.has_started() and not course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility=="both":
                 count2 += 1
                 my_list2.append(course)
       %>

       %if count2 != 0:
           <section>
              <h1>Cours en cours</h1>
           </section>
           <section class="highlighted-courses">
              <section class="courses">
                 <ul class="courses-listing">
                     %for course in my_list2:
                         <li class="courses-listing-item">
                             <%include file="../course.html" args="course=course" />
                         </li>
                     %endfor
                 </ul>
              </section>
           </section>
       %endif
    %endif


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
       <%! count3 = 0 %>
       <%! my_list3 = [] %>
       <%! for course in sorted(modulestore().get_courses(),key=lambda course: (course.end is None, course.end), reverse=True):
              if course.has_ended() and course.org.lower() == "polymtl" and course.catalog_visibility=="both":
                 count3 += 1
                 my_list3.append(course)
       %>

       %if count3 != 0:
           <section>
              <h1>Cours termin&eacute;s</h1>
           </section>
           <section class="highlighted-courses">
              <section class="courses">
                 <ul class="courses-listing">
                     %for course in my_list3:
                         <li class="courses-listing-item">
                             <%include file="../course.html" args="course=course" />
                         </li>
                     %endfor
                 </ul>
              </section>
           </section>
       %endif
    %endif


</section>
