<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="home">
    <section class="container edulib">
        <h1>${_("Honor Code")}</h1>
        <p>En m'inscrivant &agrave; EDU<em>lib</em>, je m'engage &agrave; :</p>
        <ul>
        <li>ne poss&eacute;der qu&rsquo;un seul compte d&rsquo;utilisateur et ne pas laisser d&rsquo;autres personnes l&rsquo;utiliser;</li>
        <li>faire les tests et examens moi-m&ecirc;me, sans l&rsquo;aide d&rsquo;autres personnes;</li>
        <li>ne remettre que mes propres travaux, qui ne contiennent aucun mat&eacute;riel plagi&eacute;, en tout ou en partie, et &agrave; citer correctement mes sources; </li>
        <li>&agrave; ne pas divulguer publiquement les r&eacute;ponses aux questions pos&eacute;es dans les tests et les examens des diff&eacute;rents cours; <li>&agrave; respecter les conditions d&rsquo;utilisation &eacute;nonc&eacute;es dans la section du site du m&ecirc;me nom, qui traite des droits et obligations des personnes inscrites &agrave; EDU<em>lib</em>.</li>
        </ul>
    </section>
</section>