<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">Les attestations d’EDUlib</%block>

<section class="container about">
    <h1>Les attestations d&rsquo;EDU<em>lib</em></h1>
    
    <h3 style="text-align:center;"><a href="/tos#attestations">Cliquez ici pour accéder à la politique sur l&rsquo;attribution des attestations</a></h3>
    
    <script type="text/javascript">
        window.location.href = '/tos#attestations';
    </script>    
</section>