// Theming overrides for sample theme


// ----------------------------
// #CONFIG
// ----------------------------
$static-path: '..';


// ----------------------------
// #COLORS
// ----------------------------
$blue: rgb(18, 85, 139);
$blue1: rgb(18, 85, 139);
$blue2: rgb(89, 187, 240);
$m-blue: rgb(18, 85, 139);


// ----------------------------
// #TYPOGRAPHY
// ----------------------------

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&subset=latin,latin-ext);

$sans-serif: 'PT Sans', 'Open Sans', Verdana, sans-serif;
$serif: 'PT Serif', Georgia, serif;

// newer variables/standards
$f-serif: 'PT Serif', 'Bree Serif', Georgia, serif;
$f-sans-serif: 'PT Sans', 'Open Sans','Helvetica Neue', sans-serif;



// ----------------------------
// #APPLICATIONS
// ----------------------------

// homepage, onboarding, and course discovery
$homepage-bg-image: url('#{$static-path}/images/edulib-theme/nuages.jpg');


//
// ----------------------------
// #MODIFICATIONS EDULIB
// ----------------------------
//


//-----------------
//  Correctifs
//-----------------

html {background-color: transparent !important;}


// ----------------------------
// Pied de page
// Source: http://css-tricks.com/snippets/css/sticky-footer/
// ----------------------------

html, body, div.window-wrap {
    margin: 0;
    height: 100%;
}

body {height: calc(100% - 120px);}

div.content-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -178px;
    padding-bottom: 0;
}

div.content-wrapper:after {
  content: "";
  display: block;
}

div.wrapper-all-footer, div.content-wrapper:after {height: 178px;}

.clearfix:after {
	content: "";
    display: table;
    clear: both;
}

div.wrapper-all-footer {width: 100%;}

div.wrapper-footer {min-height: 55px;}

footer#footer-edx-v3 .site-nav {display: inline-block;}

footer#footer-edx-v3 .legal-notices {
    display: inline-block;
    margin: 0 0 0 20px !important;
}

footer#footer-edx-v3 .copyright {
    font-size: 0.7em;
    color: #acacac;
    margin-top: 10px;
}

footer#footer-edx-v3 .openedx-link {
    margin: 0 0 0 10px !important;
    display: inline-block;
    float: right;
}

footer#footer-edx-v3 .openedx-link img {width: 140px !important;}

footer#footer-edx-v3 .site-details {width: 70% !important;}

footer#footer-edx-v3 .external-links {width: 25% !important;}

footer#footer-edx-v3 .external-links:last-child {float: right;}

footer#footer-edx-v3 .social-media-links {
    margin-bottom: 0 !important;
}


//-----------------
//  Banniere ecoles affiliees
//-----------------

footer.partners-footer {
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
	min-height: 50px;
}

footer.partners-footer ul {
	text-align: center !important;
}

footer.partners-footer ul li {
    display: inline-block;
    width: 185px;
}

footer.partners-footer a, div.references a {
	display: inline-block;
}


//-----------------
//  Page d'accueil
//-----------------


//  Redimensionnement de la bannière d'accueil
section.home header .outer-wrapper {
    padding: 50px;
    
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}

section.home header .title {
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0 0 0;
    
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

section.home header .title hgroup {
    text-align: center;
    display: block;
}

section.home header .title hgroup h1 {text-align: center;}


//-----------------
//  Pages d'information
//-----------------

section.about p, section.about ul li, section.about ol li, section.about span {font: normal 1em/1.6em $serif;}

section.about h1 {margin-top: 1em;}

section.about h3, section.about h4 {margin: 2em 0 1em 0;}

section.about ul, section.about ol {margin-top: 0.25em;}

section.about ul {list-style-type: disc;}
section.about ol {list-style-type: decimal;}
section.about ol ul {list-style-type: circle;}


//-----------------
//  Pages de cours
//-----------------

.find-courses, .university-profile {
    background: none !important;
}